[submodule "assets/lib/quickdiff"]
	path = assets/lib/quickdiff
	url = git://github.com/c-spencer/quickdiff.git
[submodule "assets/lib/mdext"]
	path = assets/lib/mdext
	url = git@github.com:fivesixty/mdext.git
