<!DOCTYPE html> 
<html> 
  <head> 
  <title>Notepag.es - <%= pagename %></title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/assets/universal.css">
  
  <style>
    
    #page {
      max-width: 640px;
      margin: 0 auto;
      font-size: 1.1em;
      color: #333;
      font-family: 'OFL Sorts Mill Goudy TT', "Georgia", "Times", "Times New Roman", serif, sans-serif;
    }
    #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
      font-family: 'Droid Sans', "Helvetica", "Arial", sans-serif, serif;
    }
    #content *:first-child {
      margin-top: 0;
    }
    #content *:last-child {
      margin-bottom: 0;
    }
    #content p {
      text-align: justify;
    }
  </style>
  
  <script type="text/x-mathjax-config">
    // MathJax Configuration
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {inlineMath: [["%%","%%"]]},
      "HTML-CSS": {
        scale: 80
      }
    });
  </script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
  
  <script src="./assets/lib/quickdiff/quickdiff.js"></script>
  <script src="./assets/showdown.js"></script>
  
  <script>
    
    // Setup a filter for comparing mathInline spans.
    $.fn.quickdiff("filter", "mathSpanInline",
      function (node) { return (node.nodeName === "SPAN"
                                && $(node).hasClass("mathInline")); },
      function (a, b) {
        var aHTML = $.trim($("script", a).html()), bHTML = $.trim($(b).html());
        return ("%%" + aHTML + "%%") !== bHTML;
      });

    // Setup a filter for comparing math spans.
    $.fn.quickdiff("filter", "mathSpan",
      function (node) { return (node.nodeName === "SPAN"
                                && $(node).hasClass("math")); },
      function (a, b) {
        var aHTML = $.trim($("script", a).html()), bHTML = $.trim($(b).html());
        return ("$$" + aHTML + "$$") !== bHTML;
      });
    
    $("document").ready(function () {
    
      var markdown = new Showdown.converter(),
        preproc = $("<div>"),
        inputarea = $("#textarea"),
        outputel = $("#content > div"),
        editing = <%= editting %>;
  
      var redraw = function () {
        preproc.html(markdown.makeHtml(inputarea.val()));
        var patch = outputel.quickdiff("patch", preproc, ["mathSpan", "mathSpanInline"]);

        if (patch.type !== "identical" && patch.replace.length > 0) {
          $.each(patch.replace, function (i, el) {
            if (el.innerHTML) {
              MathJax.Hub.Typeset(el);
            }
          });
        }
      };
  
      var loaded = editing;
      $("#editor").live("pageshow", function (event, ui) {
        if (!loaded) {
          $("#textarea").val("Loading..");
          $.getJSON("/<%h pagename %>.json", function (data) {
            $("#textarea").val(data.text);
            loaded = true;
          });
        }
      });
      
      if (loaded) {
        $.mobile.changePage("#editor", null, false, true);
      }
      
      $("#reader").live("pageshow", function (event, ui) {
        if (loaded) {
          redraw();
        }
      });
      
      $("#content a").attr("rel", "external");
      
      $("#saveform").live("click", function () {
        $.post("/<%h pagename %>.json", {text: inputarea.val(), password: $("#password").val()}, function (ret) {
          if (ret && ret.status === "success") {
            $('.ui-dialog').dialog('close');
          } else {
            if (ret && ret.status === "failure") {
              $("#formerror").text(ret.message);
            } else {
              $("#formerror").text("Unknown response from the server.");
            }
          }
        }, "json");
        return false;
      });
    });
    
  </script>
</head> 
<body> 

  <div data-role="page" id="reader">

    <div data-role="header">
      <h1><%h pagename %></h1>
      <a href="#editor" class='ui-btn-right' data-icon="arrow-r" data-iconpos="right">edit</a>
    </div><!-- /header -->

    <div data-role="content">
      <div id="page">
        <div id="content">
          <div><%h content %></div>
        </div>
      </div>
    </div><!-- /content -->

    <div data-role="footer">
      <h4>Notepag.es was created by <a href="http://blog.chris-spencer.co.uk">Chris Spencer</a></h4>
    </div><!-- /footer -->
  </div><!-- /page -->
  
  <div data-role="page" id="editor">
    <div data-role="header">
      <h1>edit <%h pagename %></h1>
      <a href="#savedialog" class='ui-btn-right' data-rel="dialog" data-transition="pop">save</a>
    </div><!-- /header -->

    <div data-role="content">
      <div data-role="fieldcontain">
        <textarea style="width: 98%" name="textarea" id="textarea"></textarea>
      </div>
    </div><!-- /content -->

    <div data-role="footer">
      <h4>Notepag.es was created by <a href="http://blog.chris-spencer.co.uk">Chris Spencer</a></h4>
    </div><!-- /footer -->
  </div>
  
  <div data-role="page" id="savedialog">
    <div data-role="header"><h1>Save <%h pagename %></h1></div>
    
    <div data-role="content">
      <div data-role="fieldcontain">
        <label for="password">Password (optional):</label>
        <input type="password" name="password" id="password" value=""  />
      </div>
      
      <div id="formerror"></div>
  
      <div class="ui-body ui-body-b">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a"><a data-role="button" data-rel="back">Cancel</a></div>
          <div class="ui-block-b"><a id="saveform" data-role="button">Save</a></div>
        </fieldset>
      </div>
    </div>
  </div>

</body>
</html>