head
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
  title Notepag.es
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
  script
    $(document).ready(function () {
      $("#front #page.default").live("click", function () {
        $(this).select();
        $(this).removeClass("default");
      });
      $("form").submit(function () {
        window.location = "/" + $("#page").val();
        return false;
      });
    });
  link(rel="stylesheet", href="/stylesheets/front.css")
  link(rel="shortcut icon", href="/favicon.ico")
body
  #front
    form
      input#page.default(type="text", value=randid)
      input#write(type="submit", value="write!")