body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'OFL Sorts Mill Goudy TT', "Georgia", "Times", "Times New Roman", serif, sans-serif;
  font-size: 1em;
  color: #333;
}

.drop-shadow {
    position:relative;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

#output {
  padding: 40px;
}
#output *:first-child {
  margin-top: 0;
}
#output *:last-child {
  margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Droid Sans', "Helvetica", "Arial", sans-serif, serif;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: inherit;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  text-align: justify;
}
code {
  font-family: "Courier New", "Courier", monospace, serif;
  font-size: 0.8em;
  background: #eee;
  border: 1px solid #ddd;
  padding: 2px;
}
pre code {
  display: block;
  line-height: 1.1em;
  padding: 0.5em;
}
pre {
  margin-bottom: 20px;
}
ol,ul {
  padding-left: 2em;
  line-height: 1.3em;
  margin-bottom: 1em;
}
ul {
  list-style: disc;
}
ul ul {
  list-style: square;
}
ul ul ul {
  list-style: circle;
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
li {
  margin: 0 0 1.5em 0;
}
blockquote {
	margin: 1em 3em;
	color: #999;
	border-left: 2px solid #999;
	padding-left: 1em;
}
blockquote p:first-child:first-letter {
  font-variant: small-caps;
  font-size: 3em;
  line-height: 0.75em;
  margin: 7px 5px 0 0;
  float: left;
}
hr {
  border: 0;
  border-top: 2px solid #aaa;
  margin: 20px auto;
  width: 360px;
}

#outer {
  width: 500px;
  position: fixed;
  top: 35px;
  bottom: 0;
  right: 0;
  background: #666;
  margin: 0 auto;
  display: none;
}

#inner {
  position: absolute;
  top: 5px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  resize: none;
}

#page {
  width: 720px;
  background: #fff;
  margin: 30px auto;
}

#panel {
  position: fixed;
  background: #666;
  top: 0;
  height: 30px;
  margin: 0;
  right: 20px;
  width: 80px;
  vertical-align: middle;
  padding: 5px 0;
  text-align: center;
}
#panel a img {
  vertical-align: middle;
  margin-left: 5px;
}
#panel a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  display: none;
  padding: 3px;
  font-family: sans-serif;
}

#panel.readonly a.readonly {
  display: inline-block;
}

#panel.edit a.edit {
  display: inline-block;
}

#panel.edit a.passdisable {
  display: none;
}

#dragger {
  width: 10px;
  height: 100px;
  background: #999;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -70px;
  cursor: move;
}

#save {
  opacity: 0.4;
}

#footer {
  font-family: "Helvetica", "Arial", sans-serif, serif;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  clear: both;
  height: 2em;
}
#footer, #footer a {
  color: #333;
}