.sprites { 
  background-image     : url(../images/sprite.png); 
  background-color     : transparent; 
  background-repeat    : no-repeat;
  display: inline-block;
} 

#edit_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -0px -0px; 
} 

#edit-writing-mode_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -16px -0px; 
} 

#edit-writing-mode-tbrl_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -32px -0px; 
} 

#edit-vertical-alignment_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -48px -0px; 
} 

#edit-vertical-alignment-top_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -64px -0px; 
} 

#edit-vertical-alignment-middle_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -80px -0px; 
} 

#edit-uppercase_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -96px -0px; 
} 

#edit-underline_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -112px -0px; 
} 

#edit-underline-double_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -128px -0px; 
} 

#edit-symbol_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -144px -0px; 
} 

#edit-superscript_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -160px -0px; 
} 

#edit-subscript_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -176px -0px; 
} 

#edit-strike_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -192px -0px; 
} 

#edit-strike-double_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -208px -0px; 
} 

#edit-space_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -224px -0px; 
} 

#edit-small-caps_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -240px -0px; 
} 

#edit-size_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -256px -0px; 
} 

#edit-size-up_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -272px -0px; 
} 

#edit-size-down_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -288px -0px; 
} 

#edit-signiture_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -304px -0px; 
} 

#edit-shadow_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -320px -0px; 
} 

#edit-shade_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -336px -0px; 
} 

#edit-scale_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -352px -0px; 
} 

#edit-scale-vertical_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -368px -0px; 
} 

#edit-rule_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -384px -0px; 
} 

#edit-rotate_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -400px -0px; 
} 

#edit-replace_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -416px -0px; 
} 

#edit-quotation_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -432px -0px; 
} 

#edit-pilcrow_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -448px -0px; 
} 

#edit-percent_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -464px -0px; 
} 

#edit-padding_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -480px -0px; 
} 

#edit-padding-top_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -496px -0px; 
} 

#edit-padding-right_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -512px -0px; 
} 

#edit-padding-left_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -528px -0px; 
} 

#edit-overline_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -544px -0px; 
} 

#edit-outline_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -560px -0px; 
} 

#edit-outdent_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -576px -0px; 
} 

#edit-number_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -592px -0px; 
} 

#edit-mathematics_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -608px -0px; 
} 

#edit-lowercase_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -624px -0px; 
} 

#edit-list_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -640px -0px; 
} 

#edit-list-order_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -656px -0px; 
} 

#edit-line-spacing_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -672px -0px; 
} 

#edit-letter-spacing_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -688px -0px; 
} 

#edit-language_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -704px -0px; 
} 

#edit-kerning_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -720px -0px; 
} 

#edit-hyphenation_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -736px -0px; 
} 

#edit-decimal_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -752px -0px; 
} 

#edit-decimal-decrease_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -768px -0px; 
} 

#edit-alignment-justify-distribute_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -784px -0px; 
} 

#edit-comma_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -800px -0px; 
} 

#edit-italic_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -816px -0px; 
} 

#edit-indent_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -832px -0px; 
} 

#edit-image-right_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -848px -0px; 
} 

#edit-image-center_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -864px -0px; 
} 

#edit-image_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -880px -0px; 
} 

#edit-heading_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -896px -0px; 
} 

#edit-drop-cap_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -912px -0px; 
} 

#edit-direction_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -928px -0px; 
} 

#edit-direction-rtl_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -944px -0px; 
} 

#edit-diff_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -960px -0px; 
} 

#edit-column_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -976px -0px; 
} 

#edit-color_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -992px -0px; 
} 

#edit-code_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1008px -0px; 
} 

#edit-bold_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1024px -0px; 
} 

#edit-all-caps_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1040px -0px; 
} 

#edit-alignment-right_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1056px -0px; 
} 

#edit-alignment-justify_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1072px -0px; 
} 

#edit-alignment_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1088px -0px; 
} 

#edit-alignment-center_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1104px -0px; 
} 

#chain_png { 
  height               : 16px; 
  width                : 16px; 
  background-position  : -1120px -0px; 
} 

#save_24_png { 
  height               : 24px; 
  width                : 24px; 
  background-position  : -1136px -0px; 
} 

#pencil_24_png { 
  height               : 24px; 
  width                : 24px; 
  background-position  : -1160px -0px; 
} 

#magnifier_24_png { 
  height               : 24px; 
  width                : 24px; 
  background-position  : -1184px -0px; 
} 

#lock_24_png { 
  height               : 24px; 
  width                : 24px; 
  background-position  : -1208px -0px; 
} 

#cancel_24_png { 
  height               : 24px; 
  width                : 24px; 
  background-position  : -1232px -0px; 
} 

#help_48_png { 
  height               : 48px; 
  width                : 48px; 
  background-position  : -1256px -0px; 
} 

#info_48_png { 
  height               : 48px; 
  width                : 48px; 
  background-position  : -1304px -0px; 
} 

#checkmark_48_png { 
  height               : 48px; 
  width                : 48px; 
  background-position  : -1352px -0px; 
} 

#warning1_48_png { 
  height               : 48px; 
  width                : 48px; 
  background-position  : -1400px -0px; 
}