html, body {
  height: 100%;
}
body {
  background: #ccc;
  font-family: 'OFL Sorts Mill Goudy TT', "Georgia", "Times", "Times New Roman", serif, sans-serif;
  font-size: 1em;
  color: #333;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Droid Sans', "Helvetica", "Arial", sans-serif, serif;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: inherit;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  text-align: justify;
}
code {
  font-family: "Courier New", "Courier", monospace, serif;
  font-size: 0.8em;
  background: #eee;
  border: 1px solid #ddd;
  padding: 2px;
}
pre code {
  display: block;
  line-height: 1.1em;
  padding: 0.5em;
}
pre {
  margin-bottom: 20px;
}
ol,ul {
  padding-left: 2em;
  line-height: 1.3em;
  margin-bottom: 1em;
}
ul {
  list-style: disc;
}
ul ul {
  list-style: square;
}
ul ul ul {
  list-style: circle;
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
li {
  margin: 0 0 1.5em 0;
}
blockquote {
	margin: 1em 3em;
	color: #999;
	border-left: 2px solid #999;
	padding-left: 1em;
}
blockquote p:first-child:first-letter {
  font-variant: small-caps;
  font-size: 3em;
  line-height: 0.75em;
  margin: 7px 5px 0 0;
  float: left;
}
hr {
  border: 0;
  border-top: 2px solid #aaa;
  margin: 20px auto;
  width: 360px;
}
#footer {
  font-family: "Helvetica", "Arial", sans-serif, serif;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  clear: both;
  height: 2em;
}
#footer, #footer a {
  color: #333;
}
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}
#page {
  background: #fff;
  width: 720px;
  margin: 30px auto 3em;
}
#output *:first-child {
  margin-top: 0;
}
#output *:last-child {
  margin-bottom: 0;
}
.widescreen #editor {
  position: fixed;
  top: 35px;
  margin: 0 auto;
  width: 720px;
  text-align: center;
}
.narrowscreen #editor {
  margin: 0 auto;
  width: 720px;
  text-align: center;
}
--.editing #page {
  margin: 60px auto 20px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
.widescreen.editing #leftcol {
  width: 59%
}
.narrowscreen.editing #leftcol {
  display: none;
}
.narrowscreen.editing.preview #leftcol {
  display: inline;
}
.widescreen.editing #rightcol {
  width: 41%;
}
.narrowscreen.editing #rightcol {
  width: 100%;
}
.narrowscreen.editing.preview #rightcol {
  display: none;
}
.widescreen.editing #leftcol {
  float: left;
}
.widescreen.editing #rightcol {
  float: left;
}
.readonly #leftcol {
  width: 100%;
}
.readonly #rightcol {
  display: none;
}
#output {
  padding: 40px 40px 40px 40px;
}
textarea {
  width: 720px;
  font-family: monospace;
}

.drop-shadow {
    position:relative;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

#options {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}
#options-inner {
  line-height: 20px;
  
  background: #eeeeee; /* old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#dddddd)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ddddd',GradientType=0 ); /* ie */
  
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  
  
  font-family: "Helvetica", "Arial", sans-serif, serif;
  color: #333;
  font-size: 0.8em;
}
#edit-enable, #preview-enable {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  text-align: center;
}
#params {
  font-family: 'Droid Sans', "Helvetica", "Arial", sans-serif, serif;
  font-size: 0.8em;
}
#params input {
  margin: 0 5px;
}
#delay {
  display: none;
}
#preview-enable, #params {
  display: none;
}
.editing #preview-enable, .editing #params {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
.widescreen #preview-enable {
  display: none;
}
#edit-enable a, #preview-enable a {
  display: block;
  text-decoration: none;
  text-shadow: #fff 1px 1px 0;
  padding: 1em;
  color: #333;
}
#params .tinput {
  width: 80px;
}