table {
  font-family: 'Droid Sans', "Helvetica", "Arial", sans-serif, serif;
  font-size: 0.9em;
}
thead, th {
  font-weight: bold;
  border-bottom: 2px solid #666;
}
td, th {
  padding: 10px;
}
tfoot {
  border-top: 1px solid #666;
}

div.figure {
  border: 2px solid #ccc;
  max-width: 280px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
div.figure img {
  max-width: 280px;
  margin-bottom: 10px;
}
div.figure span {
  text-align: left;
  font-family: 'Droid Sans', "Helvetica", "Arial", sans-serif, serif;
}
div.figure.left {
  float: left;
  margin-right: 15px;
}
div.figure.right {
  float: right;
  margin-left: 15px;
}